In [1]:
import pandas as pd

In [2]:
# load time data
time_data = pd.read_csv('/Users/pintoza/Desktop/dev/data-science/walmart-proximity/data/processed/time.csv')

In [3]:
# load zip geocoded data
zip_data = pd.read_csv('/Users/pintoza/Desktop/dev/data-science/walmart-proximity/data/processed/zips_geocoded.csv')

In [5]:
# merge the dataframes on the zip code
final_zip_df = pd.merge(time_data, zip_data[['zip', 'ruca', 'population', 'median_household_income']], on='zip', how='left')
final_zip_df

,zip,15_min,30_min,45_min,60_min,ruca,population,median_household_income
0,1001,9,19,36,66,Urban,"16,088","$72,444"
1,1002,7,16,34,57,Urban,"27,323","$65,013"
2,1003,7,16,35,54,Urban,"13,711",NaN
3,1005,3,17,31,60,Suburban,"4,947","$103,477"
4,1007,8,18,39,60,Urban,"15,304","$101,076"
...,...,...,...,...,...,...,...,...
33485,99923,0,0,0,0,Rural,13,NaN
33486,99925,0,0,0,0,Rural,917,"$70,625"
33487,99926,0,1,1,1,Rural,"1,445","$58,229"
33488,99927,0,0,0,0,Rural,11,NaN
33489,99929,0,0,0,0,Rural,"2,161","$54,946"

In [6]:
# save the final dataframe
final_zip_df.to_csv('/Users/pintoza/Desktop/dev/data-science/walmart-proximity/data/processed/final_zip_df.csv', index=False)